@import "https://fonts.googleapis.com/css?family=Kanit:0,500&display=swap";

body {
  margin: 0;
  font-family: "Kanit";
}

.container {
  background-color: #191919;
  color: #d4d4d4;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  margin: 0;

  h1 {
    margin: 1em 0 0 0.5em;
  }

  ul {
    margin: 0;
  }

  button {
    margin: 0;
    padding: 0;
  }

  .itemWash {
    background-color: #202020;
    height: 5em;
    border-radius: 0.5em;
    margin: 0 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.3em 0;
    width: auto;

    .washTypeImg {
      min-width: 5em;
      height: 5em;
      object-fit: cover;
      margin: 0 0.3em;
      border-radius: 50%;
    }

    .washText {
      width: -webkit-fill-available;
      margin-left: .3em;
      p {
        margin: 0;
      }
    }

    .buttons {
      display: flex;
      width: auto;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      height: 100%;
      margin: 0 0.3em;

      button {
        display: flex;
        border: none;
        border-radius: 25%;
        padding: 0.3em;
        background-color: #d4d4d4;
      }
    }
  }

  .washesContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 5.8em;

    .washes {
      margin-top: 1em;
    }
    p {
      font-size: 1.5em;
      margin: 0.3em 0.5em;
    }
  }
}

.add {
  background: #151515;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    margin: .3em 0 .3em .3em;
    font-size: 1.5em;
  }

  .btn_add {
    padding: 0.5em;
    font-family: "Kanit";
    font-size: 1.2em;
    background-color: #268b1d;
    border: none;
    color: #fff;
    width: 100%;
  }
}